<div id="backTopBtn">
  <span><b>0</b>
    <em class="iconfont icon-up"></em>
  </span>
  <i></i>
</span>
<%- js('//cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js') %>
<%- js('//cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js') %>
<%- js('//aimg8.oss-cn-shanghai.aliyuncs.com/plugins/EvyunUi/js/popup.min.js') %>
<%- js('//cdn.jsdelivr.net/npm/codemirror@5.54.0/lib/codemirror.min.js') %>
<%- js('//cdn.jsdelivr.net/npm/codemirror@5.54.0/addon/mode/overlay.js') %>
<%- js('//cdn.jsdelivr.net/npm/codemirror@5.54.0/mode/clike/clike.js') %>
<%- js('//cdn.jsdelivr.net/npm/codemirror@5.54.0/mode/javascript/javascript.min.js') %>
<%- js('//cdn.jsdelivr.net/npm/codemirror@5.54.0/mode/css/css.min.js') %>
<%- js('//cdn.jsdelivr.net/npm/codemirror@5.54.0/mode/xml/xml.min.js') %>
<%- js('//cdn.jsdelivr.net/npm/codemirror@5.54.0/mode/htmlmixed/htmlmixed.min.js') %>
<%- js('//cdn.jsdelivr.net/npm/codemirror@5.54.0/mode/coffeescript/coffeescript.min.js') %>
<%- js('//cdn.jsdelivr.net/npm/codemirror@5.54.0/mode/pug/pug.min.js') %>
<%- js('//cdn.jsdelivr.net/npm/codemirror@5.54.0/mode/sass/sass.min.js') %>
<%- js('//cdn.jsdelivr.net/npm/codemirror@5.54.0/mode/vue/vue.min.js') %>
<%- js('//cdn.jsdelivr.net/npm/codemirror@5.54.0/mode/shell/shell.min.js') %>
<%- js('js/main') %>

