<div id="backTopBtn">
  <span><b>0</b>
    <em class="iconfont icon-up"></em>
  </span>
  <i></i>
</span>
<%- js('js/jquery-3.4.1.min') %>
<%- js('lib/codemirror/codemirror') %>
<%- js('lib/codemirror/overlay') %>
<%- js('lib/codemirror/clike') %>
<%- js('lib/codemirror/javascript') %>
<%- js('lib/codemirror/css') %>
<%- js('lib/codemirror/xml') %>
<%- js('lib/codemirror/htmlmixed') %>
<%- js('lib/codemirror/php') %>
<%- js('lib/codemirror/coffeescript') %>
<%- js('lib/codemirror/pug') %>
<%- js('lib/codemirror/sass') %>
<%- js('lib/codemirror/vue') %>
<%- js('lib/codemirror/shell') %>
<%- js('js/main') %>
