<%- partial('_partial/head.ejs') %>
<body>
  <%
    var pageClass = "";
    if(theme.sidebar.show){
      if(theme.sidebar.position === 'right'){
        pageClass = "page-right";
      }else{
        pageClass = "page-left"
      }
    }
  %>
  <div class="q page <%= pageClass %>">
    <div class="page-container">
      <div class="page-content">
        <%- body %>
      </div>
    </div>
    <% if(pageClass){ %>
      <%- partial('sidebar.ejs') %>
    <% } %>
  </div>
  <%- partial('footer.ejs') %>
</body>
</html>
